.nav_container{
    position: fixed;
    top: 0px;
    /* left: 0px; */
    display: flex;
    /* position: relative; */
    z-index: 10;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #131921;
    background-color: #232f3e;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 0px;
}
.nav_left{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    /* background-color: #232f3e; */
}
.logo img{
    width: 100%;
    /* height: 100%; */
    color: white;
    background-color: #232f3e;
}

.address{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location{
    width: 20%;
    background-color: #232f3e;
    object-fit: cover;
    color: white;
}
.location img{
    width: 80%;
    height: 100%;
 
}
.deliver_address{
    width: 70%;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.deliver_address p{
    font-size: 15px;
    color: white;
    line-height: 0%;

}
.deliver_address span{
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 0%;
}

.nav_middle{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    width: 15%;

}
.select option, .select_input{
    width: 100%;
    padding: 0.4vmax 0px;
    outline: none;
    border: 1px solid #febd69;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #cdcfd2;
}
.input{
    width: 70%;
}
.input input{
    width: 100%;
    padding: 0.4vmax 0px;
    outline: none;
    
}
.input input:hover{
    border: 2px solid #febd69;
}
.search{
    width: 10%;
    margin-left: 3px;
}
.search .button{
    width: 100%;
    padding: 0.2vmax 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #febd69;
    outline: none;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}




.nav_right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.language{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.language img{
    width: 30%;
    height: 28px;
    margin: 2px;
}
.language_select{
    width: 30%;
    border: none;
    outline: none;
    padding: 0.2vmax 0;
    background-color: #cdcfd2;
}
.sign_in{
    color: white;
    padding-bottom:0vmax ;
    position: relative;
    top: -15px;
    /* line-height: 5px; */
}
.sign_in:hover{
    border: 1px solid white;
}
.sign_in:hover .sign_in_hide_down{
    display: block;
}
.sign_in p{
    position: absolute;
    font-size: 12px;
    line-height: 40px;
    top: -20px;
}
.sign_in span{
    font-size: 12px;
    position: absolute;
    top: 20px;
}
.sign_in_hide_top{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
    margin-top: 5px;
    top: 41px;
   
}
.sign_in_hide_down{
    position: absolute;
    width: 500px;
    height: 450px;
    left: -300px;
    top: 52px;
    border-radius: 5px;
    z-index: 1;
    background-color: #f8f5f5;
    display: none;
}
.sign_in_hide_down_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.sign_in_hide_down_top .link{
    text-decoration: none;
    background-color: #febd69;
    padding: 0.5vmax 1vmax;
    width: 40%;
    border-radius: 5px;
    color: #131921;
    text-align: center;
    font-weight: bold;
    border: 0.6px solid black;
    cursor: pointer;
}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd69;
}
.new span{
    font-size: 12px;
    color: #131921;
    font-weight: bold;
    margin-left: 5px;
}
.sign_in_hide_down h1{
    position: absolute;
    font-size: 12px;
    
    margin: 10px auto;
    color: #131921;
}
.sign_in_hide_down p{
    position: absolute;
    font-size: 12px;
    
    color: #131921;
}
.sign_in_hide_down_down{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1vmax;
}
.sign_in_hide_down_down_left{
    flex-direction: column;
}
.sign_in_hide_down_down_left h4{
    font-size: 20px;
    color: black;
}
.wishlistlink{
    font-size: 15px;
    
}
.wishlistlink .link{
    color: #161b21;
    cursor: pointer;
}
.sign_in_hide_down_down_right{
    flex-direction: column;
}
.sign_in_hide_down_down_right h4{
    font-size: 20px;
    color: black;
}




.return{
    color: white;
    line-height: 10px;
}
.return p{
    font-size: 15px;
    line-height: 0%;
}
.return span{
    font-size: 15px;
    line-height: 0%;
    font-weight: 500;
}
.cart{
    color: white;
}
.cart p{
    font-size: 15px;
    line-height: 0%;
}
.cart span{
    font-size: 15px;
    line-height: 0%;
    font-weight: 500;
}


@media screen and (max-width: 667px){
    .nav_container{
        padding: 4px;
    }
    .nav_left{
        width: 30%;
        
    }
    .logo span{
        font-size: 7px;
    }
    .logo{
        width: 40%;
        /* display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px; */
        /* background-color: #232f3e; */
    }
    .logo img{
        width: 100%;
        
    }
    
    .address{
        width: 40%;
        
    }
    .location{
        width: 80%;
        
    }
    .location .img{
        width: 50%;
        height: 50%;
     
    }
    .deliver_address{
        width: 70%;
        
    }
    .deliver_address p{
        font-size: 7px;
    }
    .deliver_address span{
        font-size: 7px;
    }
    .nav_middle{
        width: 30%;
    }
    .select{
        width: 10%;
    
    }
    .select option, .select_input{
        width: 100%;
        padding: 0vmax 0px;
    }
    .input{
        width: 70%;
    }
    .input input{
        width: 100%;
        padding: 0vmax 0px;
        outline: none;
        
    }
    .input input:hover{
        border: 1px solid #febd69;
    }
    .search{
        width: 10%;
        margin-left: 0px;
    }
    .search .button{
        font-size: 23px;
        width: 100%;
        padding: 0vmax 0px;
        
    }
    .nav_right{
        width: 40%;
        
    }
    .language{
        width: 15%;
        
    }
    .language img{
        width: 40%;
        height: 8px;
        margin: 0px;
    }
    .language_select{
        width: 100%;
     
        padding: 0vmax 0;
        
    }
    .sign_in{
        color: white;
        position: relative;
        margin: 1px;
    }
    .sign_in p{
        font-size: 5px;
        font-weight: bold;
        line-height: 0%;
        position: absolute;
    }
    .sign_in span{
        font-size: 5px;
        line-height: 0%;
        font-weight: bold;
    }
    .return{
        color: white;
        position: relative;
    }
    .return p{
        font-size: 5px;
        position: absolute;
        font-weight: bold;
    }
    .return span{
        font-size: 5px;
        font-weight: bold;
    }
    .cart{
        color: white;
        position: relative;
    }
    .cart .p{
        font-size: 15px;
        line-height: 0%;
        position: absolute;
        font-weight: bold;
    }
    .cart span{
        font-size: 7px;
        font-weight: bold;
    }
    
}